.topics {
  border: 1px solid var(--lines-color);
  border-radius: 5px;
  background-color: var(--bg_default);
}
@media (width< 600px) {
  .details_container {
    padding: 15px 4%;
  }
  .detail {
    justify-content: center;
    align-items: center;
  }
}
.topics_padding > div {
  padding: 15px 25px;
}
@media (width <1215px) {
  .content_width,
  .topics {
    width: 100%;
  }
  .detail {
    flex-direction: column;
    align-items: center;
  }
}
