@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  color: var(--body-text);
  overflow-x: hidden;
}

.container {
  padding: 0 4%;
}
/* header */
.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--brand-primary);
  font-weight: 700;
  font-size: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: var(--bg_default);
  position: relative;
  z-index: 1;
}

.header button {
  display: flex;
  border: 1px solid var(--lines-color);
  background-color: var(--bg_default);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  height: 50%;
}
.buttons-flex {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 5px;
}
.toggle-button {
  margin-left: 3px;
}
.triangle1 {
  width: 100vw;
  height: 5.5rem;
  background: linear-gradient(
    90deg,
    rgba(7, 104, 172, 1) 0%,
    rgba(6, 134, 157, 1) 34%,
    rgba(3, 182, 128, 1) 100%
  );
  position: absolute;
  top: 0;
  left: -10px;
  rotate: 357deg;
}

.triangle2 {
  width: 0;
  height: 0;
  border-right: 100vw solid var(--brand-secondary);
  border-bottom: 4.5vw solid transparent;
}
.welcome-website {
  background-color: var(--bg_default);
}
.welcome-sentences {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.welcome-sentences h3 {
  color: var(--brand-secondary);
  font-weight: 700;
}
.mobile-flex {
  padding: 10px 4%;
}
/* header */

/* main */
main {
  background-color: var(--bg_body);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.websites-search-input {
  margin-top: 20px;
  display: flex;
  width: 100%;
  border-radius: 10px;
  background-color: var(--bg_default);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1),
    0px 1px 3px 0px rgba(0, 0, 0, 0.08);
}
.input-search {
  width: 80%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  gap: 10px;
}
.input-search input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: var(--bg_default);
}
.select-website {
  width: 10%;
  padding: 4px 5px;
  border-left: 1px solid var(--lines-color);
}
.select-website select {
  border: none;
  width: 100%;
  background-color: var(--bg_default);
}

.websites-search-input p {
  font-size: 10px;
  padding: 0 4px;
}
.topics-articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 30px;
  justify-content: space-between;
  padding-bottom: 20px;
}

article {
  border-radius: 10px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1),
    0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  background-color: var(--bg_default);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 300px;
}
.topics-articles article img {
  width: 100%;
  height: 150px;
  object-fit: fill;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.star {
  color: orange;
}
.ionicon-fill-none {
  fill: none;
}

.topic-content {
  padding: 15px;
  height: 163px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-top {
  flex: auto;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.card-topic {
  font-weight: 700;
  font-size: 0.94rem;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  top: -2px;
}
.stars-margin {
  margin-top: 6px;
  cursor: pointer;
  display: flex;
}
.card-type {
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}
.author {
  opacity: 0.7;
  font-size: 0.9rem;
  display: flex;
  align-items: end;
  margin-top: 20px;
}

/* main */

.fav {
  z-index: 11;
  width: 100%;
  background-color: var(--bg_default);
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  height: 195px;
}
.fav-topics {
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 10px;
}
.fav-content {
  padding: 5px;
}
.fav-topics img {
  width: 140px;
  object-fit: fill;
}
.topic {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 8.6rem;
}

.line-order {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

footer div {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
  background-color: var(--bg_body);
  gap: 5px;
}
.heart {
  color: var(--heart-color);
}

@media (width <= 391px) {
  .mobile {
    display: none;
  }
  .header,
  .mobile-flex {
    padding: 4%;
  }
  p {
    font-size: 14.5px;
  }
  .topics-articles {
    grid-template-columns: auto;
  }
}
@media (width >950px) {
  .welcome-sentences {
    top: -1rem;
  }
}
@media (width <900px) {
  .websites-search-input {
    display: grid;
  }
  .input-search {
    grid-column: 1/3;
    width: 100%;
    padding: 10px;
  }
  .select-website {
    width: 100%;
    border-top: 1px solid var(--lines-color);
  }
}
@media (width <587px) {
  .topics-articles {
    justify-content: center;
  }
}
@media (width <650px) {
  .triangle1 {
    height: 4.4rem;
  }
}
@media (width<500px) {
  .fav-topics {
    justify-content: space-evenly;
  }
}
