body {
  background-color: var(--bg_body);
}
.details_container {
  padding: 15px 10%;
}
.course_details {
  background-color: var(--bg-detail);
}


@media (width <1215px) {
  .course_details {
    justify-content: center;
  }
}
@media (width< 600px) {
  .details_container {
    padding: 15px 4%;
  }
}
